<div class="flex justify-between rounded-md bg-white p-2 my-1">
  <button
    (click)="completeItem(item)"
    [ngClass]="
      item.completed ? 'bg-emerald-100' : 'border-emerald-100 border-2'
    "
    (mouseenter)="showIcon = true"
    (mouseleave)="showIcon = false"
    class="w-6 h-6 flex justify-center items-center"
  >
    <i
      [ngClass]="item.completed ? 'text-slate-800 fas fa-check' : 'hidden'"
      [ngClass]="handleHoverOnIcon(item)"
    ></i>
  </button>
  <div>
    <div
      [ngClass]="
        item.completed === true
          ? 'line-through text-slate-400'
          : 'text-slate-800'
      "
    >
      {{ item.title }}
    </div>
  </div>
  <div class="flex gap-4">
    <button (click)="editItem(item)">
      <i [ngClass]="!item.completed ? 'fas fa-pen text-slate-800' : null"></i>
    </button>
    <button (click)="deleteItem(item)">
      <i class="fas fa-trash-alt text-red-400"></i>
    </button>
  </div>
</div>
